#root {
  margin: 0 auto;
  text-align: center;
}

.modal {
  margin: 0 auto;
  background: #efefef;
  width: 400px;
  height: 300px;
  padding: 10px;
  box-shadow: 2px 2px 8px rgba(0,0,0, 0.25);
}

.modal button{
  padding: 5px;
  background: rgb(243, 243, 243);
  padding-left: 10px;
  padding-right: 10px;
}